body {
    margin: 0px;
    padding: 0px;
}

#top-bar {
    display: flex;
    justify-content: space-between;
    width: 1180px;
    margin: auto;
    margin-bottom: 46px;



}

#top-bar>div {
    display: flex;
    align-items: center;

}

#top-bar>div:nth-child(1)>a {
    font-size: 13px;
    letter-spacing: 0.4px;
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    padding: 15px 8px 15px 8px;
    color: black;
    margin-right: 9px;
    cursor: pointer;
    text-decoration: none;
    ;
}

#top-bar>div:nth-child(2)>a {
    font-size: 11px;
    letter-spacing: 0.8px;
    font-family: Arial, Helvetica, sans-serif;
    color: #757575;
    font-weight: 700;
    margin-left: 15px;
    cursor: pointer;
    text-decoration: none;

}

#top-bar>div:nth-child(1)>a:nth-child(1) {
    background-color: #F2F2F2;
}

.logo {
    width: 1180px;
    margin: auto;
}

.logo>img {
    width: 293px;
    display: block;
    margin: auto;
}

#firstimg {
    background-image: url("https://img.mytheresa.com/media/static/raw/cms/l/WW_HP_2022_CW35/Big-desktop-Pre-Fall_Update_3_2x_20220819173825.jpg?imwidth=1180&imdensity=1");
    background-size: cover;
    background-repeat: no-repeat;
    width: 1180px;
    margin: auto;
    height: 535.33px;
    display: flex;
    align-items: center;
}

#firstimg>div {
    margin: auto;
    text-align: center;
    width: 60%
}

#firstimg>div>h1 {
    color: white;
    font-size: 54px;
}

#firstimg>div>p {
    color: white;
    font-size: 20px;
    word-spacing: 5px;
}

#firstimg>div>a {
    padding: 10px;
    color: black;
    background-color: white;
    text-decoration: none;
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
}

#navbar {
    width: 100%;
}

#navbar>div {
    display: flex;
    width: 1180px;
    margin: auto;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dfdfdf;

}

#navbar>div>div:nth-child(1)>div {
    font-size: 13px;
    letter-spacing: 0.4px;
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    padding: 15px 8px 15px 8px;
    color: #757575;
    margin-right: 9px;
    cursor: pointer;
    display: flex;

}

#navbar>div>div:nth-child(1) {
    display: flex;
}

#search {
    width: 244px;
    border: 1px solid #757575;
    padding: 5px;
    display: block;
}

#notice {
    width: 1180px;
    padding: 12px 0px 12px 0px;
    text-align: center;
    color: #9f2943;
    margin: auto;
    font-family: Futura, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.2px;
}

#shopnow {
    width: 1130px;
    margin: auto;
    margin-top: 20px;
    background-color: #f6f6f6;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    text-align: center;
    padding: 25px
}

p {
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: -0.16px;
}

h1 {
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    font-size: 34px;
    letter-spacing: -0.34px;
    line-height: 44.2px;
    font-weight: 100;
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
}

button {
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    font-size: 13px;
    letter-spacing: 1.2px;
    color: white;
    background-color: black;
    border-radius: 0px;
    padding: 7px 12px 7px 12px;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

}

#trend1>div:nth-child(2)>div:nth-child(1) {
    border-bottom: 1px solid #dfdfdf;
}

#trend2>div:nth-child(1)>div:nth-child(1) {
    border-bottom: 1px solid #dfdfdf;
}

#trend1>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#trend1>div>img {
    width: 100%;
}

#trend1>div>div>img {
    width: 100%
}

#trend2>div>img {
    width: 100%;
}

#trend2>div>div>img {
    width: 100%
}

#trend2>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#trend1 {
    width: 1180px;
    margin: auto;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 30px;

}

#trend2 {
    width: 1180px;
    margin: auto;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 30px;

}


#trend1>div {
    text-align: center;
    width: 49.5%
}

#trend2>div {
    text-align: center;
    width: 49.5%
}

#bottom-section {
    text-align: center;
    width: 1180px;
    margin: auto;
}

#bottom-section>div {
    display: flex;
    justify-content: space-between
}

#bottom-section>div>div {
    width: 24%;
}

#bottom-section>div>div>img {
    width: 100%
}

#comdel {
    width: 1180px;
    margin: auto;
    padding: 30px 100px 30px 100px;
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
}

#comdel>div {
    display: flex;
    justify-content: space-between;
}

#comdel>h1 {
    text-align: center;
    font-size: 15px;
    margin-bottom: 0px;
}

#comdel>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 00.8px;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 00.8px;
    margin-left: -19px;
}

hr {
    background-color: #dfdfdf;

}

#download>div>img {
    width: 10%;
}


#download {
    width: 1180px;
    margin: auto;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #dfdfdf;

}








.nav-change {
    position: fixed;
    top: 0px;
    display: flex;
    width: 1180px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

#footer {
    width: 1180px;
    margin: auto;
    display: flex;
    justify-content: space-between;


}

#footer a {
    text-decoration: none;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 00.8px;
    color: #757575;
    margin-bottom: 5px;
}

#footer dd {
    margin-left: 0px;
    margin-bottom: 10px;
}

#footer input {
    width: 244px;
    border: 1px solid #757575;
    padding: 5px;
    display: block;
}
#bottom{
    padding:20px;
    font-size: 16px;
    width:1180px;
    text-align: center;
    margin:auto;
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
    
}

@media all and (min-width: 250px) and (max-width: 650px) {
    #top-bar {
        display: none;
    }

    #navbar {
        display: none;

    }

    .logo {
        width: 95%;
        margin: auto;
        padding: 20px
    }

    .logo>img {
        text-align: center;
        width: 60%;
        display: block;
        margin: auto;

    }

    #firstimg {
        width: 95%;
    }

    #shopnow {
        width: 95%;
        margin: auto;
    }

}